{%extends 'base.html' %}
    {%block content%}
    <a href = "{% url 'home' %}" class="btn btn-primary" >
        <i class="fas fa-arrow-left"></i>
        Back to homepage
    </a>
    <div>
        <h1>{{post.title}}</h1>
        <p>Published on: {{post.date_published}}</p>
        <p>Last edited on: {{post.date_edited}}</p>
        <p>by {{user}}</p>
        <p>{{post.body|linebreaksbr}}</p>
    </div>
    {% if user.is_authenticated and user == post.author %}
    <div>
        <a href = "{% url 'post_edit' post.id %}" class="btn btn-primary" >Edit Post</a>
        <a href = "{% url 'post_delete' post.id%}" class="btn btn-danger" >Delete Post</a>
    </div>
    {% endif %}
    {%endblock content%}
