{%extends 'base.html' %}
    {%block content%}

    {% if user.is_authenticated %}
    <div id = "titleRow" class = 'row'>
        <div class = 'col'>
            <a href = "{% url 'post_new' %}" class="btn btn-primary" id="addPostButton" >
                <i class="fas fa-plus"></i>
                Add post
            </a>
        </div>
        <div class = 'col-6'>
            <h1 class = 'title'>Django blog</h1>
        </div>
        <div class = 'col'>
            <div class = 'row'>
                <div class = 'col'> <p> Hi {{user.username}} </p></div>
                <div class = 'col'> <a href = "{% url 'logout' %}" class="btn btn-primary" >Log out</a></div>

              
            </div>
        </div>

    </div>

    {% else %}
    <div id = "titleRow" class = 'row'>
            <div class = 'col'>
            </div>
            <div class = 'col-6'>
                <h1 class = 'title'>Django blog</h1>
            </div>
            <div class = 'col'>
                <div class = 'row'>
                        <a href = "{% url 'login' %}" class="btn btn-primary" >Sign in</a>
                        <a href = "{% url 'signup' %}" class="btn btn-primary" >Sign up</a>
                  
                </div>
            </div>
    
        </div>
    {% endif %}

        {% include "posts/posts_view.html" %}
    {%endblock content%}
